/* ABAS */

.section-historico .nav-tabs{
    border-bottom: solid 2px var(--color4);
}

.section-historico .nav-tabs button{
    position: relative;
    bottom: -1px;

    background-color: transparent;
    color: var(--color7) ;
    
    border: 0;
    border-bottom: 2px solid var(--color5);
    font-weight: 600;
}
.section-historico .nav-tabs button:hover{
    border: 0;
    color: var(--color12);
    border-bottom: 2px solid var(--color7);
}
.section-historico .nav-tabs button.active{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--purple);
    color: var(--color12);
    font-weight: 600;
}


/* Tutores */
.tutores .card{
    height: 10rem;
    cursor: pointer;
}

.tutores .card:hover{
    border: 1px solid #8b8b8b;
    transition: .2s;
}

.tutores .card .card-body{
    padding: 0;
}

.tutores .card .card-body .img{
    position: relative;
}

.tutores .card .card-body .img img{
    width: 60px;
}

.tutores .card .card-body .img span{
    position: absolute;
    right: -0.5rem;
    bottom: -0.5rem;
    font-size: 1.8rem;
    color: var(--green);
}


.tutores .card .card-body .texts h5{
    margin-bottom: 0;
    color: var(--color12);
    font-size: 18px;
}

.tutores .card .card-body .texts p{
    margin-bottom: 0;
    font-size: 15px;
    color: var(--color10);
}


.tutores .card .card-categorias p{
    background-color: var(--color3);
    font-size: 15px;
    font-weight: 500;
    color: var(--color12);
    border-radius: 4px;
}