.login-container{
    height: 100vh;
    width: 100vw;
    background-color: var(--color3);
}

.login-container form{
    width: 30%;
    border-radius: 8px;
    background-color: var(--color4);
}

.login-container form div div, .login-container form div button{
    width: 100%;
}

.links-form a{
    text-decoration: none;
}
.links-form a:hover{
    text-decoration: none;
    color: var(--yellow);
}

.form-control{
    background-color: var(--color3);
    color: var(--color12);
}