root {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    --color1: #212023;
    --color2: #29282B;
    --color3: #F3F4F6;
    --purple: #6F38C5;
    --yellow: #FFC107;
}

::-webkit-scrollbar {
    background-color: var(--color1);
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color2);
    border-radius: 6px;
    transition: 200ms;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    transition: 200ms;
}

::-webkit-scrollbar-corner{
    background-color: var(--color1);
}

/* body {
    background-color: var(--color1);
    color: var(--color3);
} */

.container-sm{
    max-width: 980px;
}

.section-user .user-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.section-user .user-container .img{
    width: 60px;
}

.section-user .user-container .img img{
    width: 100%;
    border-radius: 50%;
}



/* SideBar */

/* 
.sidebar-menu {
    background-color: var(--color2);
    width: 120px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
}

.sidebar-menu ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.sidebar-menu ul li {
    list-style: none;
}

.sidebar-menu ul li a {
    color: var(--color3);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-menu ul li .active {
    color: var(--yellow);
}

.sidebar-menu ul li .material-symbols-rounded {
    font-size: 2rem;
} */

/* .main {
    margin-left: 120px;
    padding: 150px 0;
    width: calc(100% - 120px);
} */
