*{
    transition: .2s;
}

.lista-tutores{
    width: 600px;
    margin-top: 2rem;
    
    border: 1px solid var(--color4);
    background-color: transparent;
}

.lista-tutores .categoria{
    width: min-content;
    background-color: var(--purple);
    border: none;
    border-radius: 4px;
}

.lista-tutores .item-tutor{
    text-decoration: none;
    border: 1px solid var(--color3);
    padding: 5px 8px 5px 8px;
    border: 1px solid var(--color5);
}

.lista-tutores .item-tutor:hover{
    color: var(--white1);
    border: 1px solid #8b8b8b;
}

.item-tutor .user-info .img {
    position: relative;
    width: 60px;
    height: 60px;
}

.item-tutor .user-info .img span{
    position: absolute;
    color: #09a33d;
    bottom: -5px;
    right: -5px;
}


.item-tutor .user-info .img img{
    width: 100%;
    height: 100%;

    border-radius: 50%;
    object-fit: cover;
    
}
/* Textos */
.item-tutor .user-info .texts p{
    margin: 0;
}

.item-tutor .user-info .texts .title-user{
    font-size: 16px;
    font-weight: 500;
}
.item-tutor .user-info .texts .school-user{
    font-size: 14px;
    color: var(--white2);
}

/* Stars */
.item-tutor .stars p{
    font-size: 16px;
    height: 6px;
}

.item-tutor .stars .icon{
    color: var(--yellow);
}
