<div class="user-container">
    <span>Bem Vindo, Nami!</span>
    <img src="/img/Nami.png" alt="">
</div>
<div class="breadcrumb mb-4 ">
    <span>Início / Minutos</span>
</div>
<h5>Comprar Minutos</h5>
<form class="card d-flex flex-column justify-content-center gap-3" action="" method="post">
    <h3>30 Min</h3>
    <input type="range" class="form-range" id="customRange1">
</form>