<div class="container-sm">

    <div class="row user-info-container card">

        <div class="col-sm coluna">
            <div class="user-message d-flex flex-column">
                <h5 class="titulo-cor">Olá, Luffy</h5>
                <p class="desc">Quais são as dúvidas de hoje?</p>
            </div>
        </div>

        <div class="col-sm coluna">
            <div class="user-profile d-flex ">
                <div class="text d-flex flex-column justify-content-center">
                    <h5 class="titulo-cor">Monkey D. Luffy</h5>
                    <p class="desc">Fatec Zona Leste</p>
                </div>
                <img class="perfil-img" src="/img/crash.png" alt="">
            </div>
        </div>

        <div class="col-sm coluna">
            <div class="user-minutos d-flex justify-content-center align-items-end gap-4">
                <div class="text d-flex flex-column">
                    <p>Você Possui</p>
                    <h5><span class="minuto-quant">34</span> Min</h5>
                </div>
                <a href="/comprar"><button class="p-2 btn btn-primary">Comprar Mais</button></a>
            </div>
        </div>
    </div>

    <div class="categorias-container pt-4 gap-3 d-flex flex-column">
        <h5 class="desc">Em qual linguagem deseja ajuda hoje?</h5>
        <div class="categorias-grid ">
            <a href="#" class="card p-3 categoria-card">
                <span>HTML</span>
                <img src="/img/icon/icons8-html-5.svg" alt="">
            </a>
            <a href="#" class="card p-3 categoria-card">
                <span>CSS</span>
                <img src="/img/icon/icons8-css.svg" alt="">
            </a>
            <a href="#" class="card p-3 categoria-card">
                <span>JavaScript</span>
                <img src="/img/icon/icons8-javascript.svg" alt="">
            </a>
            <a href="#" class="card p-3 categoria-card">
                <span>ReactJS</span>
                <img src="/img/icon/icons8-nativo-de-reagir.svg" alt="">
            </a>
            <a href="#" class="card p-3 categoria-card">
                <span>MySQL</span>
                <img src="/img/icon/icons8-mysql.svg" alt="">
            </a>
            <a href="#" class="card p-3 categoria-card">
                <span>NodeJS</span>
                <img src="/img/icon/icons8-node-js.svg" alt="">
            </a>
            <a href="#" class="card p-3 categoria-card">
                <span>PHP</span>
                <img src="/img/icon/icons8-php2.svg" alt="">
            </a>
            <a href="#" class="card p-3 categoria-card">
                <span>FireBase</span>
                <img src="/img/icon/icons8-firebase.svg" alt="">
            </a>

        </div>
    </div>

</div>