{{!-- <aside class="menu-lateral">
    <nav class="nav flex-column">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link disabled">Disabled</a>
    </nav>
</aside> --}}

<div class="container-sm">
    <section class="header">
        <div class="title-section">
            <h4>Olá, Zoro</h4>
        </div>
        <div class="container">
            {{!-- Linha --}}
            <div class="row content-header">
                {{!-- Coluna --}}
                <div class="col coluna-1">
                    <div class="row">
                        <div class="coluna">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Aulas diárias</p>
                                    <h5 class="card-title">3/<span>6</span></h5>
                                </div>
                            </div>
                        </div>
                        <div class="coluna">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Acúmulo de aulas</p>
                                    <h5 class="card-title">15</h5>
                                </div>
                            </div>
                        </div>
                        <div class="coluna">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Classificação</p>
                                    <h5 class="card-title">4.5</h5>
                                </div>
                            </div>
                        </div>
                        <div class="coluna">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">Ganhos</p>
                                    <h5 class="card-title"><span>$</span>20.10</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- Lado perfil --}}
                <div class="col coluna-2">
                    <div class="row justify-content-end">
                        <div class="coluna">
                            {{!-- Card mini perfil --}}
                            <div class="card mini-perfil">
                                <div class="card-body">
                                    <p class="card-tag">Tutor</p>
                                    <div class="card-content">
                                        <div class="card-text">
                                            <h5 class="nome">Roronoa Zoro</h5>
                                            <p class="academic">Fatec ZL</p>
                                            <p class="academic">Engenheiro de Software</p>
                                        </div>
                                        <div class="card-img">
                                            <img src="/img/crash.png" alt="Imagem de perfil">
                                        </div>
                                    </div>
                                    <div class="card-languages">
                                        <img src="/img/nodejs.png" alt="Icon referente a linguagem">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="painel">
        <div class="title-painel">
            <p>Esse aqui é o seu painel de dúvidas recebidas</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Crud com NodeJS e Firebase</h5>
                            <h6 class="card-subtitle"><span class="material-symbols-sharp">
                                    fiber_manual_record
                                </span>Luffy</h6>
                            <p class="card-text">Olá preciso de ajuda para fazer um crud com firebase e nodejs, pois o
                                maluco do meu prof...
                            </p>
                            <div class="links">
                                <a href="#" class="card-link">NodeJS</a>
                                <a href="#" class="card-link">Firebase</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm ">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Centralizar div</h5>
                            <h6 class="card-subtitle"><span class="material-symbols-sharp" style="color: orange">
                                    fiber_manual_record
                                </span>Nami</h6>
                            <p class="card-text">Olá preciso de ajuda para fazer um crud com firebase e nodejs, pois o
                                maluco do meu prof...
                            </p>
                            <div class="links">
                                <a href="#" class="card-link">NodeJS</a>
                                <a href="#" class="card-link">Firebase</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Implementação do banco de dados em Java</h5>
                            <h6 class="card-subtitle"><span class="material-symbols-sharp" style="color: gray">
                                    fiber_manual_record
                                </span>Usopp</h6>
                            <p class="card-text">Olá preciso de ajuda para fazer um crud com firebase e nodejs, pois o
                                maluco do meu prof...
                            </p>
                            <div class="links">
                                <a href="#" class="card-link">NodeJS</a>
                                <a href="#" class="card-link">Firebase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>