<div class="container-sm">

    <div class="row user-info-container">

        <div class="col-sm coluna">
            <div class="user-message d-flex flex-column">
                <h5>Olá, Luffy</h5>
                <p>Quais são as dúvidas de hoje?</p>
            </div>
        </div>
        <div class="col-sm coluna">
            <div class="user-profile d-flex ">
                <div class="text d-flex flex-column justify-content-center">
                    <h5>Monkey D. Luffy</h5>
                    <p>Fatec Zona Leste</p>
                </div>
                <img src="/img/crash.png" alt="">
            </div>
        </div>
        <div class="col-sm coluna">
            <div class="user-minutos d-flex justify-content-center align-items-end gap-4">
                <div class="text d-flex flex-column">
                    <p>Você Possui</p>
                    <h5><span class="minuto-quant">34</span> Min</h5>
                </div>
                <a href="/comprar"><button class="p-2">Comprar Mais</button></a>
            </div>
        </div>
    </div>

    <div class="categorias-container pt-4 gap-3 d-flex flex-column">
        <h5>Em qual linguagem deseja ajuda hoje?</h5>
        <div class="categorias-grid ">
            <a href="#" class="card p-3 categoria-card">
                <span>HTML</span>
                <img src="/img/crash.png" alt="">
            </a>
            <a href="#" class="card p-3 categoria-card">
                <span>HTML</span>
                <img src="/img/crash.png" alt="">
            </a>
            <a href="#" class="card p-3 categoria-card">
                <span>HTML</span>
                <img src="/img/crash.png" alt="">
            </a>
            <a href="#" class="card p-3 categoria-card">
                <span>HTML</span>
                <img src="/img/crash.png" alt="">
            </a>
            <a href="#" class="card p-3 categoria-card">
                <span>HTML</span>
                <img src="/img/crash.png" alt="">
            </a>
            <a href="#" class="card p-3 categoria-card">
                <span>HTML</span>
                <img src="/img/crash.png" alt="">
            </a>
            <a href="#" class="card p-3 categoria-card">
                <span>HTML</span>
                <img src="/img/crash.png" alt="">
            </a>
            <a href="#" class="card p-3 categoria-card">
                <span>HTML</span>
                <img src="/img/crash.png" alt="">
            </a>

        </div>
    </div>

</div>