<div class="container-sm">
    <div class="section-title mb-3">
        <div class="title-page d-flex gap-2 align-items-center">
            <a href="/aluno">
                <span class="material-symbols-rounded">arrow_back</span>
            </a>
            <h4>Escolher tutor</h4>
        </div>

        <div class="user-container">
            <span class="user-name">Olá, Luffy!</span>
            <div class="img">
                <img src="/img/Luffy.png" alt="Imagem de perfil">
                <i class="status-icon"></i>
            </div>
        </div>
    </div>

    <section class="d-flex flex-column justify-content-center">
        <div class="title">
        </div>

        <div class="card gap-3 p-4 lista-tutores align-self-center">
            <a class="btn btn-primary categoria" role="button">NodeJS</a>

            <a href="/aluno/tutor/duvida" class="card item-tutor">
                <div class="card-body p-2 d-flex justify-content-between align-items-center">
                    <div class="user-info d-flex gap-2">
                        <div class="img">
                            <span class="material-symbols-sharp">
                                fiber_manual_record
                            </span>
                            <img src="/img/Zoro.png" alt="Imagem de perfil do tutor">
                        </div>
                        <div class="texts d-flex flex-column justify-content-center">
                            <p class="title-user">Roronoa Zoro</p>
                            <p class="school-user">UFABC</p>
                        </div>
                    </div>
                    <div class="stars d-flex align-items-center">
                        <p class="classificacao">4.5</p>
                        <span class="material-symbols-rounded icon">star</span>
                    </div>
                </div>
            </a>
            <a href="/aluno/tutor/duvida" class="card item-tutor">
                <div class="card-body p-2 d-flex justify-content-between align-items-center">
                    <div class="user-info d-flex gap-2">
                        <div class="img">
                             <span class="material-symbols-sharp">
                                fiber_manual_record
                            </span>
                            <img src="/img/Robin.png" alt="Imagem de perfil do tutor">
                        </div>
                        <div class="texts d-flex flex-column justify-content-center">
                            <p class="title-user">Nico Robin</p>
                            <p class="school-user">USP</p>
                        </div>
                    </div>
                    <div class="stars d-flex align-items-center">
                        <p class="classificacao">5.0</p>
                        <span class="material-symbols-rounded icon">star</span>
                    </div>
                </div>
            </a>
            <a href="/aluno/tutor/duvida" class="card item-tutor">
                <div class="card-body p-2 d-flex justify-content-between align-items-center">
                    <div class="user-info d-flex gap-2">
                        <div class="img">
                             <span class="material-symbols-sharp">
                                fiber_manual_record
                            </span>
                            <img src="/img/Nami.png" alt="Imagem de perfil do tutor">
                        </div>
                        <div class="texts d-flex flex-column justify-content-center">
                            <p class="title-user">Nami</p>
                            <p class="school-user">FIAP</p>
                        </div>
                    </div>
                    <div class="stars d-flex align-items-center">
                        <p class="classificacao">4.5</p>
                        <span class="material-symbols-rounded icon">star</span>
                    </div>
                </div>
            </a>
        </div>
    </section>
</div>