{{!-- bootstrap class --}}
<div class="container-sm">

    <div class="section-user">
        <div class="user-container">
            <p class="user-name desc">Luffy</p>
            <div class="img">
                <img src="/img/crash.png" alt="Imagem de perfil">
                {{!-- Esse aqui vai ser o icon de status <span></span> --}}
            </div>
        </div>
    </div>

    <div class="section-breadcrumb">
        {{!-- bootstrap class --}}
        <div class="breadcrumb mb-4 desc">
            <span>Início / Minutos</span>
        </div>
    </div>

    

</div>

</div>