{{!-- bootstrap class --}}
<div class="container-sm">

    <div class="section-user">
        <div class="user-container">
            <p class="user-name desc">Luffy</p>
            <div class="img">
                <img src="/img/crash.png" alt="Imagem de perfil">
                {{!-- Esse aqui vai ser o icon de status <span></span> --}}
            </div>
        </div>
    </div>

    <div class="section-breadcrumb">
        {{!-- bootstrap class --}}
        <div class="breadcrumb mb-4 desc">
            <span>Início / Histórico</span>
        </div>
    </div>

    <div class="section-historico d-flex flex-column gap-3">
        <h4>Histórico</h4>
        <div class="tab-historico d-flex gap-3">
            <button class="p-2">Tutores</button>
            <button class="p-2">Duvidas</button>
        </div>
        <div class="content-historico row">
            <div class="col">
                <div class="card d-flex flex-column gap-2 p-3">
                    <div class="card-content d-flex justify-content-start gap-2">
                        <img height="80px" src="/img/crash.png" alt="">
                        <div>
                            <h4>Crash</h4>
                            <small>UFABC</small>
                        </div>
                    </div>
                    <div class="card-categorias d-flex gap-2">
                        <small class="categoria p-1 rounded">NodeJS</small>
                        <small class="categoria p-1 rounded">Assembly</small>
                        <small class="categoria p-1 rounded">Docker</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card d-flex flex-column gap-2 p-3">
                    <div class="card-content d-flex justify-content-start gap-2">
                        <img height="80px" src="/img/crash.png" alt="">
                        <div>
                            <h4>Crash</h4>
                            <small>UFABC</small>
                        </div>
                    </div>
                    <div class="card-categorias d-flex gap-2">
                        <small class="categoria p-1 rounded">NodeJS</small>
                        <small class="categoria p-1 rounded">Assembly</small>
                        <small class="categoria p-1 rounded">Docker</small>
                    </div>
                </div>            </div>
            <div class="col">
                <div class="card d-flex flex-column gap-2 p-3">
                    <div class="card-content d-flex justify-content-start gap-2">
                        <img height="80px" src="/img/crash.png" alt="">
                        <div>
                            <h4>Crash</h4>
                            <small>UFABC</small>
                        </div>
                    </div>
                    <div class="card-categorias d-flex gap-2">
                        <small class="categoria p-1 rounded">NodeJS</small>
                        <small class="categoria p-1 rounded">Assembly</small>
                        <small class="categoria p-1 rounded">Docker</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>