<div class="row ">
    <div class="col-8  d-flex flex-column gap-5">
        <div>
            <h3>Bem Vindo, Luffy</h3>
            <small>Quais são as dúvidas de hoje?</small>
        </div>

        <div class="container-minutos card">
            <div>
                <small>Você possui</small>
                <h4>456 Minutos</h4>
            </div>
            <a href="/comprar"><button class="p-3">Comprar Mais</button></a>
        </div>

        <div class="container-categorias d-flex flex-column gap-4">
            <div class="">
                <h5>Frontend</h5>
                <div class="categoria-container">
                    <div class="card p-3 categoria-card">
                        <span>HTML</span>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png"  alt="">
                    </div>
                    <div class="card p-3 categoria-card">
                        <span>CSS</span>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/CSS3_logo.svg/800px-CSS3_logo.svg.png"  alt="">
                    </div>
                    <div class="card p-3 categoria-card">
                        <span>ReactJS</span>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1200px-React-icon.svg.png"  alt="">
                    </div>
                    <div class="card p-3 categoria-card">
                        <span>ReactJS</span>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1200px-React-icon.svg.png"  alt="">
                    </div>
                </div>
            </div>


            
            <div>
                <h5>Backend</h5>
                <div class="categoria-container">
                    <div class="card p-3 categoria-card">
                        <span>HTML</span>
                        <img  src="/img/crash.png"  alt="">
                    </div>
                    <div class="card p-3 categoria-card">
                        <span>HTML</span>
                        <img  src="/img/crash.png"  alt="">
                    </div>
                    <div class="card p-3 categoria-card">
                        <span>HTML</span>
                        <img  src="/img/crash.png"  alt="">
                    </div>
                    <div class="card p-3 categoria-card">
                        <span>HTML</span>
                        <img  src="/img/crash.png"  alt="">
                    </div>
                    <div class="card p-3 categoria-card">
                        <span>HTML</span>
                        <img  src="/img/crash.png"  alt="">
                    </div>
                    <div class="card p-3 categoria-card">
                        <span>HTML</span>
                        <img  src="/img/crash.png"  alt="">
                    </div>
                </div>
            </div>
    
            <div>
                <h5>Database</h5>
                <div class="categoria-container">
                    <div class="card p-3 categoria-card">
                        <span>MySQL</span>
                        <img  src="/img/crash.png"  alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col d-grid justify-content-center">
        <img class="user-image" src="/img/crash.png" alt="">
    </div>
</div>