<div class="user-info-container d-flex card justify-content-between">
    <div class="saudacao-user">
        <h4>Olá, Luffy</h4>
        <small>Quais são as dúvidas de hoje?</small>
    </div>
    <div class="user-main d-flex flex-row align-items-center gap-3">
        <div>
            <h4>Monkey D. Luffy</h4>
            <small>Fatec Zona Leste</small>
        </div>
        <img src="/img/crash.png" class="rounded-circle" height="80px" alt="">
    </div>
    <div class="comprar-min d-flex align-items-center gap-3">
        <div>
            <small>Você Possui</small>
            <h3>34 Min</h3>
        </div>
        <a href="/comprar"><button class="p-2">Comprar Mais</button></a>
    </div>
</div>

<div class="categorias-container pt-4 gap-3 d-flex flex-column">
    <h5>Em qual linguagem deseja ajuda hoje?</h5>
    <div class="categorias-grid ">
        <button class="card p-3 categoria-card">
            <span>HTML</span>
            <img  src="/img/crash.png"  alt="">
        </button>
        <button class="card p-3 categoria-card">
            <span>HTML</span>
            <img  src="/img/crash.png"  alt="">
        </button>
        <button class="card p-3 categoria-card">
            <span>HTML</span>
            <img  src="/img/crash.png"  alt="">
        </button>
        <button class="card p-3 categoria-card">
            <span>HTML</span>
            <img  src="/img/crash.png"  alt="">
        </button>
        <button class="card p-3 categoria-card">
            <span>HTML</span>
            <img  src="/img/crash.png"  alt="">
        </button>
        <button class="card p-3 categoria-card">
            <span>HTML</span>
            <img  src="/img/crash.png"  alt="">
        </button>
        <button class="card p-3 categoria-card">
            <span>HTML</span>
            <img  src="/img/crash.png"  alt="">
        </button>
        <button class="card p-3 categoria-card">
            <span>HTML</span>
            <img  src="/img/crash.png"  alt="">
        </button>
        <button class="card p-3 categoria-card">
            <span>HTML</span>
            <img  src="/img/crash.png"  alt="">
        </button>
    </div>
</div>