<div class="container-sm">

  <div class="perfil-aluno">

    <div class="card perfil">

      <div class="card-body">
        <div class="img">
          <img src="" alt="" />
        </div>

        <div class="input">
          <label for="forName">Nome</label>
          <p class="p-nome">Nome</p>
        </div>

        <div class="input">
          <label for="forName">Nome</label>
          <p class="p-nome">Nome</p>
        </div>

      </div>

</div>