<div class="d-flex justify-content-between align-items-center">
    <div class="breadcrumb mb-4 ">
        <span>Início / Dúvida</span>
    </div>
    <div class="user-container">
        <span>Bem Vindo, Nami!</span>
        <img src="/img/Nami.png" alt="">
    </div>
</div>

<div class="duvidas-container">
    <h5>Criar uma dúvida</h5>
    <form class="card d-flex flex-column align-items-stretch gap-3" action="" method="post">
        <h6>Mostre sua dúvida</h6>
        <input type="file">
        <textarea class="bg-1" name="duvidaData" id="duvidaData" cols="30" rows="10"></textarea>
        <button class="p-2" type="submit">Criar Dúvida</button>
    </form>
</div>
