<div class="container-sm">
   
    <div class="section-user">
        <div class="user-container">
            <p class="user-name">Nami</p>
            <div class="img">
                <img src="/img/crash.png" alt="Imagem de perfil">
                {{!-- Esse aqui vai ser o icon de status <span></span> --}}
            </div>
        </div>
    </div>

    <div class="section-breadcrumb">
        {{!-- bootstrap class --}}
        <div class="breadcrumb mb-4 ">
            <span>Início / Categoria / Nova dúvida</span>
        </div>
    </div>


<div class="duvidas-container">
    <h5>Criar uma dúvida</h5>
    <form class="card d-flex flex-column align-items-stretch gap-3" action="" method="post">
        <h6>Mostre sua dúvida</h6>
        <input class="form-control" type="file" id="formFile">        <textarea class="bg-1" name="duvidaData" id="duvidaData" cols="30" rows="10"></textarea>
        <button class="p-2" type="submit">Criar Dúvida</button>
    </form>
</div>

</div>
